// Наигация - настройка меню
body {
   // overflow-x: hidden !important;
   // position: relative;
}

@media (max-height: 689.98px) {
   .mobile_menu_wrapper {
      min-height: 800px !important;
   }
}
.body_hide {
   // position: absolute !important;
   // top: -1500%;
   // left: 0;
   // opacity: 0 !important;
   display: none !important;
}
@media (max-width: 1089.98px) {
   .desktop_menu {
      display: none !important;
   }

   .mobile_menu {
      width: 40px;
      height: 40px;
      background: #384d70;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      justify-content: center;
      cursor: pointer;
      span {
         background: #ffffff;
         border-radius: 5px;
         width: 17px;
         height: 2px;
         margin: 0 auto;
         cursor: pointer;
      }
   }
   nav {
      padding: 0 15px !important;
      align-items: center;
      justify-content: center !important;
      gap: 150px !important;
   }
   .header_wrapper {
      margin: 0 auto 93px;
      nav {
         justify-content: space-between !important;
      }
   }
   header {
      position: relative;
   }

   .right_0 {
      right: 0 !important;
      .mobile_menu {
         span {
            width: 27px !important;
            height: 4px !important;
         }
         .span_1 {
            transform: rotate(45deg);
            margin: 0 0 0;
         }
         .span_2 {
            transform: rotate(-45deg);
            margin: -10px 0 0;
         }
         .span_3 {
            display: none !important;
         }
      }
   }
   .mobile_menu_wrapper {
      padding-top: 17px !important;
      transition: 0.5s;
      position: absolute;
      top: 0;
      right: -100%;
      background: #384d70;
      width: 100%;
      height: fit-content;
      min-height: 100vh;
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      nav {
         justify-content: space-between !important;
         padding: 0 !important;
         margin-bottom: 53px;
      }
      .links {
         width: 100% !important;
         max-width: 360px !important;
         flex-direction: column;
         gap: 30px !important;
         margin: 0 auto 70px;

         a {
            font-size: 19px !important;
         }
      }
      .button {
         width: 100% !important;
         max-width: 360px !important;
         margin: 0 auto;
      }
   }
}
@media (min-width: 1090px) {
   .mobile_menu,
   .mobile_menu_wrapper {
      display: none !important;
   }
}

// Header
// @media(max-width: 449.98px){
//     .links {
//         margin: 0 0 70px !important;

//      }
// }
@media (min-width: 320px) and (max-width: 575.98px) {
   nav {
      padding: 0 15px !important;
      align-items: center;
      justify-content: space-between !important;
      gap: 0 !important;
      .logo_wrapper {
         margin-right: 0 !important;
      }
   }
   .logo_title {
      font-size: 15px !important;
   }
   .links {
      align-items: flex-start !important;
   }
   .header_info_wrapper {
      padding: 0 !important;
   }
   .header_wrapper {
      margin: 0 auto 93px;
      nav {
         justify-content: space-between !important;
      }
   }
   h1 {
      font-size: 50px !important;
      line-height: 50px !important;
   }
   .header_info_col1,
   .header_info_col_buttons {
      padding: 0 15px !important;
   }

   .header_info_col_subtitle {
      margin-top: 10px;
      font-size: 15px !important;
      line-height: 18px !important;
   }
   .header_info_col_text {
      font-size: 22px !important;
      line-height: 26px !important;
   }
   .header_info_col2 {
      width: 100%;
      max-width: 200px;
      img {
         width: 100%;
      }
   }
   .header_info_col_code {
      padding: 12px 0 12px 15px !important;
      margin: 0 auto !important;
      width: 100% !important;
      max-width: 380px !important;
   }
   .header_info_col_buttons {
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px !important;
   }
   .reb_btn {
      font-size: 19px !important;
      line-height: 23px !important;
   }
   .black_btn {
      font-size: 18px !important;
      line-height: 21px !important;
   }

   .header_info_col_code_title {
      font-size: 11px !important;
      line-height: 13px !important;
   }
   .header_info_col_code_hash {
      margin-top: 5px;
      font-size: 12px !important;
      line-height: 17px !important;
   }
   .hach_wrapper {
      padding: 0 5px;
   }
}
@media (min-width: 1736px) {
   .header_wrapper {
      position: static !important;
   }
}
@media (min-width: 1090px) and (max-width: 1299.98px) {
   .header_info_container {
      margin-top: 215px !important;
   }
}
@media (min-width: 1400px) and (max-width: 1735.98px) {
   nav {
      .logo_wrapper {
         width: 100%;
         justify-content: center;
         margin-right: 0 !important;
      }
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   .header_wrapper {
      margin: 0 auto 93px;
      .logo_wrapper {
         margin-right: 0 !important;
      }
      nav {
         justify-content: space-between !important;
      }
   }
   //    h1 {
   //       font-size: 50px !important;
   //       line-height: 50px !important;
   //    }
   .header_info_col_buttons {
      flex-wrap: wrap;
      justify-content: center;
   }
   .header_info_col_code_hash {
      margin-top: 5px;
      font-size: 21px !important;
      line-height: 17px !important;
   }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   .header_wrapper {
      margin: 0 auto 93px;
      nav {
         justify-content: space-between !important;
      }
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   nav {
      gap: 30px !important;
      .logo_wrapper {
         margin-right: 0 !important;
      }
   }
   .desktop_menu {
      gap: 34px !important;
      padding: 0 15px;
      flex-wrap: wrap;
      justify-content: center;
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   //    .header_wrapper {
   //       max-width: 726px !important;
   //       margin: 0 auto 93px;
   //       nav {
   //          justify-content: space-between !important;
   //       }
   //    }
   nav {
      gap: 30px !important;
      .logo_wrapper {
         margin-right: 0 !important;
      }
   }
   .desktop_menu {
      gap: 34px !important;
      padding: 0 15px;
      flex-wrap: wrap;
      justify-content: center;
   }
}
@media (max-width: 1347.98px) {
   .header_info_wrapper {
      justify-content: center !important;
   }
   .desktop_btns {
      display: none !important;
   }
   .mobile_btns {
      display: flex !important;
      flex-direction: column;
      gap: 15px;
   }
   .header_info_col2 {
      margin-top: 30px;
      margin-bottom: 40px;
      width: 100%;
      text-align: center;
   }
   .mobile_btns {
      width: 100%;
      max-width: 660px;
      margin: auto;
   }
}
@media (min-width: 1400px) {
}

// 2 Section

@media (min-width: 320px) and (max-width: 575.98px) {
   .partners_icons {
      flex-wrap: wrap;
      justify-content: center;
      .partners_icons_item1 {
         width: 93.75px !important;
         height: 30px !important;
      }
      .partners_icons_item2 {
         width: 80px !important;
         height: 30px !important;
      }
      .partners_icons_item3 {
         width: 83px !important;
         height: 30px !important;
      }
      .partners_icons_item4 {
         width: 99px !important;
         height: 30px !important;
      }
      .partners_icons_item5 {
         width: 114px !important;
         height: 30px !important;
      }
      .partners_icons_item6 {
         width: 86px !important;
         height: 30px !important;
      }
   }
   .partners_icons {
      margin-bottom: 35px !important;
      flex-wrap: wrap;
      justify-content: center;
      padding: 19px;
   }
   .how_it_works_info {
      background: url(../img/2_section/mobile.png) !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover;
      padding-bottom: 0 !important;
      h3 {
         max-width: 360px !important;
         font-size: 25px !important;
         line-height: 30px !important;
         padding: 0 17px;
      }
      .header_info_col_buttons {
         max-width: 100% !important;
         margin-top: 294px !important;
         /* width: 260px !important; */
         height: 46px !important;
      }
   }
   .how_it_works {
      background: #101932 !important;
   }
   .img_absolute {
      max-width: 70px !important;
   }

   .cat_img_earth {
      display: none;
   }
   .how_it_works_info {
      .header_info_col_buttons {
         max-width: 300px !important;
      }
      .reb_btn {
         padding: 10px 45px 15px !important;
         white-space: nowrap !important;
      }
   }
   .cat_img_earth {
      display: none;
   }
   .trend {
    .header_info_col_buttons{
        max-width: 100% !important;
        padding: 0 !important;
    }
      .reb_btn {
         white-space: nowrap !important;
      }
   }
}
@media (max-width: 356.98px) {
   .img_blue {
      //   display: none !important;
      right: 10% !important;
      top: 315px !important;
      border: 17px solid rgba(0, 150, 242, 0) !important;
      &:hover {
         border: 17px solid rgba(0, 150, 242, 0.4) !important;
      }
   }
   .img_gold {
      //   display: none !important;
      right: 22% !important;
      bottom: 70px !important;
      border: 17px solid rgba(255, 148, 41, 0) !important;
      &:hover {
         border: 17px solid rgba(255, 148, 41, 0.4) !important;
      }
   }
   .img_red {
      //   display: none !important;
      left: 10% !important;
      top: 345px !important;
      border: 17px solid rgba(225, 29, 46, 0) !important;
      &:hover {
         border: 17px solid rgba(225, 29, 46, 0.4) !important;
      }
   }
}
@media (min-width: 357px) and (max-width: 575.98px) {
   .img_blue {
      //   display: none !important;
      right: 10% !important;
      top: 270px !important;
      border: 17px solid rgba(0, 150, 242, 0) !important;
      &:hover {
         border: 17px solid rgba(0, 150, 242, 0.4) !important;
      }
   }
   .img_gold {
      //   display: none !important;
      right: 22% !important;
      bottom: 70px !important;
      border: 17px solid rgba(255, 148, 41, 0) !important;
      &:hover {
         border: 17px solid rgba(255, 148, 41, 0.4) !important;
      }
   }
   .img_red {
      //   display: none !important;
      left: 16% !important;
      top: 298px !important;
      border: 17px solid rgba(225, 29, 46, 0) !important;
      &:hover {
         border: 17px solid rgba(225, 29, 46, 0.4) !important;
      }
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   .trend {
    .header_info_col_buttons{
        max-width: 100% !important;
        padding: 0 !important;
    }
      .reb_btn {
         white-space: nowrap !important;
      }
   }
   .partners_icons {
      margin-bottom: 35px !important;
      flex-wrap: wrap;
      justify-content: center;
      padding: 19px;
   }
   .how_it_works_info {
      background: url(../img/2_section/mobile.png) !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover;
      padding-bottom: 0 !important;
      h3 {
         max-width: 360px !important;
         font-size: 25px !important;
         line-height: 30px !important;
      }
      .header_info_col_buttons {
         max-width: 100% !important;
         margin-top: 350px !important;
         .reb_btn {
            white-space: nowrap !important;
         }
      }
   }
   .how_it_works {
      background: #101932 !important;
   }
   .img_absolute {
      max-width: 70px !important;
   }
   .img_blue {
      //   display: none !important;
      right: 20% !important;
      top: 316px !important;
      border: 17px solid rgba(0, 150, 242, 0) !important;
      &:hover {
         border: 17px solid rgba(0, 150, 242, 0.4) !important;
      }
   }
   .img_gold {
      //   display: none !important;
      right: 31% !important;
      bottom: 115px !important;
      border: 17px solid rgba(255, 148, 41, 0) !important;
      &:hover {
         border: 17px solid rgba(255, 148, 41, 0.4) !important;
      }
   }
   .img_red {
      //   display: none !important;
      left: 27% !important;
      top: 360px !important;
      border: 17px solid rgba(225, 29, 46, 0) !important;
      &:hover {
         border: 17px solid rgba(225, 29, 46, 0.4) !important;
      }
   }
   .cat_img_earth {
      display: none;
   }
   .how_it_works_info {
      .header_info_col_buttons {
         max-width: 300px !important;
      }
      .reb_btn {
         padding: 10px 45px 15px !important;
      }
   }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   .partners_icons {
      margin-bottom: 35px !important;
      flex-wrap: wrap;
      justify-content: center;
      padding: 19px;
   }
   .how_it_works_info {
      h3 {
         font-size: 25px !important;
         line-height: 30px !important;
      }
   }
   .img_blue {
      right: 4% !important;
      max-width: 70px;
      border: 17px solid rgba(0, 150, 242, 0.2) !important;
      &:hover {
         border: 17px solid rgba(0, 150, 242, 0.4) !important;
      }
   }
   .img_gold {
      right: 17% !important;
      max-width: 70px;
      border: 17px solid rgba(255, 148, 41, 0.2) !important;
      &:hover {
         border: 17px solid rgba(255, 148, 41, 0.4) !important;
      }
   }
   .img_red {
      left: 20% !important;
      max-width: 70px;
      border: 17px solid rgba(225, 29, 46, 0.2) !important;
      &:hover {
         border: 17px solid rgba(225, 29, 46, 0.4) !important;
      }
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .img_blue {
      right: 9% !important;
   }
   .img_gold {
      right: 17% !important;
   }
   .img_red {
      left: 20% !important;
   }
   #toTop {
      &:hover {
         box-shadow: 0px 0px 30px 4px rgb(255 255 255);
      }
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .img_blue {
      right: 9% !important;
   }
   .img_gold {
      right: 17% !important;
   }
   .img_red {
      left: 20% !important;
   }
   #toTop {
      &:hover {
         box-shadow: 0px 0px 30px 4px rgb(255 255 255);
      }
   }
}

@media (min-width: 1400px) {
   #toTop {
      &:hover {
         box-shadow: 0px 0px 30px 4px rgb(255 255 255);
      }
   }
}

// 3_section
// @media (min-height: 250px) and (max-height: 299.98px) {
//    .load_cat {
//       top: 28% !important;
//    }

//    .load_1 {
//       top: 16% !important;
//       animation: preloader-rotate 10s linear infinite alternate;
//    }
//    .load_2 {
//       top: 9% !important;
//    }
//    .load_3 {
//       top: 3.3% !important;
//    }
//    .logo_wrapper {
//       bottom: 0% !important;
//    }
// }
// @media (min-height: 300px) and (max-height: 399.98px) {
//    .load_cat {
//       top: 32% !important;
//    }

//    .load_1 {
//       top: 19% !important;
//       animation: preloader-rotate 10s linear infinite alternate;
//    }
//    .load_2 {
//       top: 13% !important;
//    }
//    .load_3 {
//       top: 7.3% !important;
//    }
//    .logo_wrapper {
//       bottom: 0% !important;
//    }
// }
// @media (min-height: 400px) and (max-height: 499.98px) {
//    .load_cat {
//       top: 34% !important;
//    }

//    .load_1 {
//       top: 26% !important;
//       animation: preloader-rotate 10s linear infinite alternate;
//    }
//    .load_2 {
//       top: 20% !important;
//    }
//    .load_3 {
//       top: 15.3% !important;
//    }
//    .logo_wrapper {
//       bottom: 10% !important;
//    }
// }
// @media (min-height: 500px) and (max-height: 599.98px) {
//    .load_cat {
//       top: 44% !important;
//    }

//    .load_1 {
//       top: 37.4% !important;
//       animation: preloader-rotate 10s linear infinite alternate;
//    }
//    .load_2 {
//       top: 32.8% !important;
//    }
//    .load_3 {
//       top: 29.3% !important;
//    }
//    .logo_wrapper {
//       bottom: 10% !important;
//    }
// }
// @media (min-height: 600px) and (max-height: 699.98px) {
//    .load_cat {
//       top: 38% !important;
//    }

//    .load_1 {
//       top: 34.4% !important;
//       animation: preloader-rotate 10s linear infinite alternate;
//    }
//    .load_2 {
//       top: 31.7% !important;
//    }
//    .load_3 {
//       top: 29.3% !important;
//    }
//    .logo_wrapper {
//       bottom: 23% !important;
//    }
// }
// @media (min-height: 700px) and (max-height: 799.98px) {
//    .load_cat {
//       top: 38% !important;
//    }

//    .load_1 {
//       top: 34.4% !important;
//       animation: preloader-rotate 10s linear infinite alternate;
//    }
//    .load_2 {
//       top: 31.7% !important;
//    }
//    .load_3 {
//       top: 29.3% !important;
//    }
//    .logo_wrapper {
//       bottom: 23% !important;
//    }
// }

@media (min-width: 320px) and (max-width: 575.98px) {
   .preloader {
      .logo_wrapper {
         .logo_title {
            font-size: 25px !important;
         }
      }
   }
   .play_wrapper_col1 {
      padding: 20px 20px 29px 20px !important;
      .play_wrapper_col1_item_title {
         -webkit-box-pack: center;
         -ms-flex-pack: center;
         justify-content: start;
         font-size: 24px !important;
         line-height: 29px !important;
      }
      .play_wrapper_col1_item2_text {
         font-size: 19px !important;
         line-height: 23px !important;
      }
      .play_wrapper_col1_item {
         width: 100%;
         img {
            width: 100%;
         }
      }

      flex-wrap: wrap !important;
      justify-content: center !important;
   }
   .play_wrapper_col2_item1 {
      max-height: fit-content !important;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px 20px 50px 20px !important;
      .play_wrapper_col1_item_title {
         justify-content: center;
         font-size: 30px !important;
         line-height: 36px !important;
      }
   }
   .play_wrapper_col2_item2 {
      max-height: fit-content !important;
      width: 100%;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      padding: 20px 20px 50px 20px !important;
      .play_wrapper_col1_item_title {
         justify-content: center;
         font-size: 30px !important;
         line-height: 36px !important;
      }
   }

   .play_wrapper_col2_item2_info_text {
      text-align: center;
   }
   .services_cards {
      padding: 0 15px !important;
      .services_cards_item {
         width: 100% !important;
         &:hover {
            transform: scale(1) !important;
         }
      }
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   .play_wrapper_col1 {
      padding: 20px 20px 29px 20px !important;
      .play_wrapper_col1_item_title {
         -webkit-box-pack: center;
         -ms-flex-pack: center;
         justify-content: start;
         font-size: 24px !important;
         line-height: 29px !important;
      }
      .play_wrapper_col1_item2_text {
         font-size: 19px !important;
         line-height: 23px !important;
      }
      .play_wrapper_col1_item {
         width: 100%;
         img {
            width: 100%;
         }
      }

      flex-wrap: wrap !important;
      justify-content: center !important;
   }
   .play_wrapper_col2_item1 {
      max-height: fit-content !important;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px 20px 50px 20px !important;
      .play_wrapper_col1_item_title {
         justify-content: center;
         font-size: 30px !important;
         line-height: 36px !important;
      }
   }
   .play_wrapper_col2_item2 {
      max-height: fit-content !important;
      width: 100%;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      padding: 20px 20px 50px 20px !important;
      .play_wrapper_col1_item_title {
         justify-content: center;
         font-size: 30px !important;
         line-height: 36px !important;
      }
   }

   .play_wrapper_col2_item2_info_text {
      text-align: center;
   }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   .play_wrapper_col1 {
      .play_wrapper_col1_item {
         width: 100%;
         img {
            width: 100%;
         }
      }

      flex-wrap: wrap !important;
      justify-content: center !important;
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .play_wrapper_col1 {
      .play_wrapper_col1_item {
         width: 100%;
         img {
            width: 100%;
         }
      }

      flex-wrap: wrap !important;
      justify-content: center !important;
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .play_wrapper_col1 {
      .play_wrapper_col1_item {
         width: 100%;
         img {
            width: 100%;
         }
      }

      flex-wrap: wrap !important;
      justify-content: center !important;
   }
}

@media (min-width: 1600px) {
   .play_wrapper_col2_item1 {
      max-width: 847px;
   }
   .play_wrapper_col2_item2 {
      max-width: 848px;
   }
   .play_wrapper_col2 {
      flex-wrap: nowrap !important;
   }
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
   .trend {
      padding: 120px 15px 100px !important;
      text-align: -webkit-center;
      .reb_btn {
         padding-right: 0 !important;
         padding-left: 0 !important;
      }
   }
   .section_subtitle {
      padding: 0 16px !important;
   }
   .play_wrapper_col3 {
      gap: 100px !important;
      flex-wrap: wrap;
   }
   .play_wrapper_col3_item2_subitem_text {
      font-size: 24px !important;
   }
   .play_wrapper_col3_item2_subitem_title {
      font-size: 26px !important;
   }
   .play_wrapper_col3_item1_title {
      font-size: 28px !important;
      line-height: 35px !important;
   }
   .play_wrapper_col3_item2_subitem {
      flex-direction: column;
      text-align: center;
   }
   .play_wrapper_col3_item1 {
      width: 100%;
      .play_wrapper_col3_item1_title,
      .play_wrapper_col3_item1_subtitle {
         width: 100%;
         max-width: 100%;
      }
      .play_wrapper_col3_item2 {
         max-width: 100% !important;
         width: 100%;
      }
   }
   .logo_wrapper {
      margin-right: 0 !important;
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   .logo_wrapper {
      margin-right: 0 !important;
   }
   .play_wrapper_col3 {
      gap: 100px !important;
      flex-wrap: wrap;
   }
   .play_wrapper_col3_item2_subitem_text {
      font-size: 24px !important;
   }
   .play_wrapper_col3_item2_subitem_title {
      font-size: 26px !important;
   }
   .play_wrapper_col3_item2_subitem {
      flex-direction: column;
      text-align: center;
   }
   .play_wrapper_col3_item1 {
      width: 100%;
      .play_wrapper_col3_item1_title,
      .play_wrapper_col3_item1_subtitle {
         width: 100%;
         max-width: 100%;
      }
      .play_wrapper_col3_item2 {
         max-width: 100% !important;
         width: 100%;
      }
   }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   .play_wrapper_col3 {
      gap: 100px !important;
      flex-wrap: wrap;
   }
   .play_wrapper_col3_item1 {
      width: 100%;
      .play_wrapper_col3_item1_title,
      .play_wrapper_col3_item1_subtitle {
         width: 100%;
         max-width: 100%;
      }
      .play_wrapper_col3_item2 {
         max-width: 100% !important;
         width: 100%;
      }
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .play_wrapper_col3 {
      gap: 100px !important;
      flex-wrap: wrap;
   }
   .play_wrapper_col3_item1 {
      width: 100%;
      .play_wrapper_col3_item1_title,
      .play_wrapper_col3_item1_subtitle {
         width: 100%;
         max-width: 100%;
      }
      .play_wrapper_col3_item2 {
         max-width: 100% !important;
         width: 100%;
      }
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .play_wrapper_col3 {
      gap: 100px !important;
      flex-wrap: wrap;
   }
   .play_wrapper_col3_item1 {
      width: 100%;
      .play_wrapper_col3_item1_title,
      .play_wrapper_col3_item1_subtitle {
         width: 100%;
         max-width: 100%;
      }
      .play_wrapper_col3_item2 {
         max-width: 100% !important;
         width: 100%;
      }
   }
}

@media (min-width: 1400px) {
   .trend {
      .header_info_col_buttons {
         min-width: 404px !important;
      }
   }
}

// Preloader

@media (min-width: 320px) and (max-width: 575.98px) {
   .play_wrapper_col3_item2_subitem_img {
      width: fit-content;
      margin: auto;
   }
   .road_line_wrapper {
      display: none !important;
   }
   .graphic_img {
      bottom: -165px !important;
   }
   .road_line_col_item_info_list {
      padding-right: 15px !important;
   }
   .road_line {
      .section_title {
         margin-bottom: 50px;
      }
   }
   .road_line_col_item_info_title {
      font-size: 30px !important;
      line-height: 36px !important;
   }
   .road_line_col_item_info_list {
      li {
         font-size: 21px !important;
         line-height: 30px !important;
      }
   }
   .road_line_wrapper_mobile {
      .mobile_line {
         left: 1% !important;
         height: 100% !important;
         max-width: 12px !important;
      }
      .road_line_col_item {
         flex-direction: column;
         justify-content: center;
      }
   }
   .team_item {
      img {
         width: 280px;
         height: 270px;
      }
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   .play_wrapper_col3_item2_subitem_img {
      width: fit-content;
      margin: auto;
   }
   .road_line_wrapper {
      display: none !important;
   }
   .road_line_col_item_info_list {
      padding-right: 15px !important;
   }
   .road_line {
      .section_title {
         margin-bottom: 50px;
      }
   }
   .road_line_wrapper_mobile {
      .mobile_line {
         left: 1.6% !important;
         height: 100% !important;
         max-width: 12px !important;
      }
      .road_line_col_item {
         flex-direction: column;
         justify-content: center;
      }
   }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   .road_line_wrapper {
      display: none !important;
   }
   .road_line_col_item_info_list {
      padding-right: 15px !important;
   }
   .road_line_wrapper_mobile {
      .mobile_line {
         left: 2% !important;
      }
   }
   .road_line {
      .section_title {
         margin-bottom: 50px;
      }
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .road_line_wrapper {
      display: none !important;
   }
   .road_line_col_item_info_list {
      padding-right: 15px !important;
   }
   .road_line {
      .section_title {
         margin-bottom: 50px;
      }
   }
   .graphic_img {
      display: none !important;
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .road_line_col_item_info_list {
      padding-right: 15px !important;
   }
   .road_line_wrapper_mobile {
      display: none !important;
   }
}

@media (min-width: 1400px) {
   .road_line_wrapper_mobile {
      display: none !important;
   }

   // .load_cat {
   //     top: 59%;
   //     left: 54%;
   //  }

   //  .load_1 {
   //     top: 55%;
   //     left: 52.2%;
   //     animation: preloader-rotate 10s linear infinite alternate;
   //  }
   //  .load_2 {
   //      top: 52.2%;
   //      left: 51%;
   //     animation: preloader-rotate_2 10s linear infinite alternate;
   //  }
   //  .load_3 {
   //     top: 50%;
   //     left: 50%;
   //     animation: preloader-rotate 10s linear infinite alternate;
   //  }
}

@media (min-width: 320px) and (max-width: 575.98px) {
   .team {
      padding-bottom: 73px !important;
   }
   .tokenomiks {
      padding-right: 15px !important;
      padding-left: 15px !important;
   }
   .tokenomiks {
      padding-right: 15px !important;
      padding-left: 15px !important;
   }
   .tokenomiks {
      padding-right: 15px !important;
      padding-left: 15px !important;
   }
   .tokenomiks_col_item_title {
      font-size: 25px !important;
   }
   .tokenomiks_wrapper {
      display: none !important;
   }
   .tokenomiks_col2 {
      margin: 50px auto !important;
      width: 100% !important;
   }
   .tokenomiks_wrapper_mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   .mobile_tokenomiks_graphic {
      margin: 50px auto 0;
      width: 94%;
   }

   .tokenomiks_col_item {
      margin: 0 25px;
      &:hover {
         transform: scale(1) !important;
      }
   }
   .tokenomiks_wrapper {
      display: none !important;
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   .team {
      padding-bottom: 73px !important;
   }
   .tokenomiks {
      padding-right: 15px !important;
      padding-left: 15px !important;
   }
   .tokenomiks {
      padding-right: 15px !important;
      padding-left: 15px !important;
   }
   .tokenomiks_wrapper {
      display: none !important;
   }
   .tokenomiks_col2 {
      margin: 50px auto !important;
   }
   .tokenomiks_wrapper_mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   .mobile_tokenomiks_graphic {
      margin: 50px auto 0;
      width: 94%;
   }
   .tokenomiks_col_item {
      margin: 0 25px;
      &:hover {
         transform: scale(1) !important;
      }
   }
   .tokenomiks_wrapper {
      display: none !important;
   }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   .team {
      padding-bottom: 73px !important;
   }
   .tokenomiks {
      padding-right: 15px !important;
      padding-left: 15px !important;
   }
   .tokenomiks_wrapper {
      display: none !important;
   }
   .tokenomiks_col2 {
      margin: 50px auto !important;
   }
   .tokenomiks_wrapper_mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   .mobile_tokenomiks_graphic {
      margin: 50px auto 0;
      width: 100%;
      max-width: 724px;
   }
   .tokenomiks_col_item {
      margin: 0 25px;
      &:hover {
         transform: scale(1) !important;
      }
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .accordion {
      padding: 70px 0 150px !important;
   }
   .tokenomiks {
      padding-right: 15px !important;
      padding-left: 15px !important;
   }
   .tokenomiks_wrapper {
      flex-direction: column;
      max-width: 100% !important;
   }
   .tokenomiks_wrapper_mobile {
      display: none !important;
   }
   .tokenomiks_col2 {
      margin: 50px auto !important;
   }
   .tokenomiks_col {
      display: flex;
      flex-direction: row !important;
      flex-wrap: wrap;
      justify-content: center;
      gap: 60px !important;
      .tokenomiks_col_item {
         max-width: 425px;
      }
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .accordion {
      padding: 70px 0 150px !important;
   }
   .tokenomiks_wrapper_mobile {
      display: none !important;
   }
   .element-animation {
      /* Скроем элемент в начальном состоянии */
      opacity: 0;
   }

   .element-show {
      opacity: 1;
      transition: opacity 1s !important;
   }
}

@media (min-width: 1400px) {
   .accordion {
      padding: 70px 0 150px !important;
   }
   .tokenomiks_wrapper_mobile {
      display: none !important;
   }
   .element-animation {
      /* Скроем элемент в начальном состоянии */
      opacity: 0;
   }
   .element-show {
      opacity: 1;
      transition: opacity 1s !important;
   }
   .tokenomiks {
      padding-right: 30px !important;
      padding-left: 30px !important;
   }
}

@media (min-width: 1200px) and (max-width: 1499.98px) {
   .tokenomiks {
      padding-right: 15px !important;
      padding-left: 15px !important;
   }
   .tokenomiks_wrapper {
      flex-direction: column;
      max-width: 95% !important;
   }
   .tokenomiks_col2 {
      margin: 50px auto !important;
   }
   .tokenomiks_col {
      display: flex;
      flex-direction: row !important;
      flex-wrap: wrap;
      justify-content: center;
      gap: 60px !important;
      .tokenomiks_col_item {
         max-width: 515px;
      }
   }
}

// Intro
@media (max-width: 405.98px) {
   .footer_hach_code_text {
      font-size: 10px !important;
      line-height: 14px !important;
   }
}
@media (min-width: 406px) and (max-width: 575.98px) {
   .footer_hach_code_text {
      font-size: 14px !important;
      line-height: 14px !important;
   }
}
@media (min-width: 320px) and (max-width: 575.98px) {
   .footer {
      .section_title {
         padding: 0 17px !important;
      }
   }
   .footer_cat {
      &:hover {
         transform: scale(1.05) !important;
      }
   }
   .footer_wrapper {
      padding: 0 17px;
   }
   .accordion {
      padding-right: 17px !important;
      padding-left: 17px !important;
   }

   .accordion-list {
      padding: 0 !important;

      h3 {
         font-size: 16px !important;
         line-height: 19px !important;
         span {
            margin-left: 15px !important;
         }
      }
      li {
         padding: 20px 20px 20px 18px !important;
      }
   }
   .section_title {
      font-size: 40px !important;
   }

   .footer_icons_item1 {
      padding: 16.67px 14px !important;
   }
   .footer_icons_item2 {
      padding: 16.67px 13px 16.67px 14px !important;
   }
   .footer_icons_item3 {
      padding: 16.67px !important;
   }
   .footer_icons_item4 {
      padding: 17px 16px 16px 17px !important;
   }
   .footer_icons_item5 {
      padding: 16.67px !important;
   }
   .footer_icons_item6 {
      padding: 16.67px !important;
   }
   .footer_icons {
      justify-content: center !important;
      flex-wrap: wrap !important;
   }
   .footer_hach_code {
      width: 100% !important;
      padding: 15px 15px 15px 20px !important;
      .footer_hach_code_title {
         font-size: 14px !important;
         line-height: 18px !important;
         margin-bottom: 10px !important;
      }
   }
   .services_cards_item {
      .card_item_img {
         width: 80px !important;
         height: 80px !important;
      }
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   .footer_wrapper {
      padding: 0 17px;
   }
   .accordion {
      padding-right: 17px !important;
      padding-left: 17px !important;
   }
   .accordion-list {
      padding: 0 !important;
      h3 {
         font-size: 16px !important;
         line-height: 19px !important;
         span {
            margin-left: 15px !important;
         }
      }
      li {
         padding: 20px 20px 20px 18px !important;
      }
   }
   .footer_icons {
      justify-content: center !important;
   }

   .footer_icons_item1 {
      padding: 16.67px 14px !important;
   }
   .footer_icons_item2 {
      padding: 16.67px 13px 16.67px 14px !important;
   }
   .footer_icons_item3 {
      padding: 16.67px !important;
   }
   .footer_icons_item4 {
      padding: 17px 16px 16px 17px !important;
   }
   .footer_icons_item5 {
      padding: 16.67px !important;
   }
   .footer_icons_item6 {
      padding: 16.67px !important;
   }
   .footer_hach_code {
      width: fit-content !important;
      .footer_hach_code_title {
         font-size: 15px !important;
         line-height: 18px !important;
         margin-bottom: 10px !important;
      }
      .footer_hach_code_text {
         font-size: 18px !important;
         line-height: 14px !important;
      }
   }
   .services_cards_item {
      .card_item_img {
         width: 80px !important;
         height: 80px !important;
      }
   }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   .footer_wrapper {
      padding: 0 17px;
   }
   .footer_icons {
      justify-content: center !important;
   }

   .footer_icons_item1 {
      padding: 16.67px 14px !important;
   }
   .footer_icons_item2 {
      padding: 16.67px 13px 16.67px 14px !important;
   }
   .footer_icons_item3 {
      padding: 16.67px !important;
   }
   .footer_icons_item4 {
      padding: 17px 16px 16px 17px !important;
   }
   .footer_icons_item5 {
      padding: 16.67px !important;
   }
   .footer_icons_item6 {
      padding: 16.67px !important;
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .footer {
      padding: 60px 0 0 !important;
   }
   .footer_wrapper {
      margin: 110px auto 107px !important;
   }
   .footer_icons_item {
      width: 108px !important;
      height: 108px !important;
   }
   .footer_icons {
      gap: 40px !important;
   }
   .img_bg1 {
      width: 57.6px !important;
      height: 48px !important;
   }
   .img_bg2 {
      width: 59px !important;
      height: 48px !important;
   }
   .img_bg3 {
      width: 48px !important;
      height: 48px !important;
   }
   .img_bg4 {
      width: 48px !important;
      height: 48px !important;
   }
   .img_bg5 {
      width: 48px !important;
      height: 48px !important;
   }
   .img_bg6 {
      width: 48px !important;
      height: 48px !important;
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .footer {
      padding: 60px 0 0 !important;
   }
   .footer_wrapper {
      margin: 110px auto 107px !important;
   }
   .footer_icons_item {
      width: 108px !important;
      height: 108px !important;
   }
   .footer_icons {
      gap: 40px !important;
   }
   .img_bg1 {
      width: 57.6px !important;
      height: 48px !important;
   }
   .img_bg2 {
      width: 59px !important;
      height: 48px !important;
   }
   .img_bg3 {
      width: 48px !important;
      height: 48px !important;
   }
   .img_bg4 {
      width: 48px !important;
      height: 48px !important;
   }
   .img_bg5 {
      width: 48px !important;
      height: 48px !important;
   }
   .img_bg6 {
      width: 48px !important;
      height: 48px !important;
   }
}

@media (min-width: 1400px) {
   .footer {
      padding: 60px 0 0 !important;
   }
   .footer_wrapper {
      margin: 110px auto 107px !important;
   }
   .footer_icons_item {
      width: 108px !important;
      height: 108px !important;
   }
   .footer_cat {
      transition: all 0.6s !important;
   }
   .footer_icons {
      gap: 40px !important;
   }
   .img_bg1 {
      width: 57.6px !important;
      height: 48px !important;
   }
   .img_bg2 {
      width: 59px !important;
      height: 48px !important;
   }
   .img_bg3 {
      width: 48px !important;
      height: 48px !important;
   }
   .img_bg4 {
      width: 48px !important;
      height: 48px !important;
   }
   .img_bg5 {
      width: 48px !important;
      height: 48px !important;
   }
   .img_bg6 {
      width: 48px !important;
      height: 48px !important;
   }
}

// Стрелка вверх
@media (max-width: 619.98px) {
   #toTop {
      bottom: 100px !important;
   }
}
@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}
