@import "_media";

// Обнуление стилей

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}
ol,
ul {
   list-style: none;
}
blockquote,
q {
   quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
   content: "";
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

* {
   box-sizing: border-box;
}
@font-face {
   font-family: "SF Pro Display Regular";
   src: url(../fonts/SFProDisplay-Regular.ttf);
}

@font-face {
   font-family: "SF Pro Display Medium";
   src: url(../fonts/SFProDisplay-Medium.ttf);
}

@font-face {
   font-family: "SF Pro Display Semibold";
   src: url(../fonts/SFProDisplay-Semibold.ttf);
}

@font-face {
   font-family: "SF Pro Display Bold";
   src: url(../fonts/SFProDisplay-Bold.ttf);
}

@font-face {
   font-family: "SF Pro Display Black";
   src: url(../fonts/SFProDisplay-Black.ttf);
}

@font-face {
   font-family: "SF Pro Display Heavy";
   src: url(../fonts/SFProDisplay-Heavy.ttf);
}
$font_400: "SF Pro Display Regular";
$font_500: "SF Pro Display Medium";
$font_600: "SF Pro Display Semibold";
$font_700: "SF Pro Display Bold";
$font_800: "SF Pro Display Black";
$font_900: "SF Pro Display Heavy";
body {
   margin: 0;
   padding: 0;
   font-family: "SF Pro Display", sans-serif;
}

// ==================================
// Шапка сайта
// ==================================

header {
   padding: 25px 0 0 0;
   min-height: 100vh;
   background: url(../img/Header/intro_bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   overflow-x: hidden;
   max-width: 100%;
   position: relative;
}
.header_wrapper {
   width: 100%;
   max-width: 1736px;
   margin: 0 auto 93px;
}
nav {
   display: flex;
   justify-content: space-between;
}
.logo_title {
   font-weight: 800;
   font-size: 25px;
   line-height: 34px;
   display: flex;
   align-items: center;
   color: #ffffff;
   cursor: pointer;
   gap: 5px;
   span {
      color: #e11d2e;
      cursor: pointer;
   }
}
.desktop_menu {
   display: flex;
   gap: 70px;
   .links {
      display: flex;
      align-items: center;
      gap: 25px;
      a {
         display: inline-flex;
         position: relative;
         &:hover {
            color: #ffffff;
            &::after {
               content: "";
               width: 100%;
               opacity: 1;
            }
         }
         &::after {
            content: "";
            width: 2%;
            height: 3px;
            position: absolute;
            border-radius: 10px;
            background: #cfd1d8;
            opacity: 0;
            transition: 0.4s;
            left: 0;
            bottom: -10px;
         }
      }
   }
}
.links {
   display: flex;
   align-items: center;
   gap: 25px;
   a {
      font-family: $font_600;
      font-size: 17px;
      line-height: 20px;
      color: #ffffff;
      opacity: 0.8;
      text-decoration: none;
      cursor: pointer;
      transition: 0.5s;
      flex-direction: column;
      display: inline-flex;
      &:hover {
         color: #ffffff;
         //  &::after {
         //     content: "";
         //     width: 100%;
         //     opacity: 1;
         //  }
      }
      &:visited {
         color: #ffffff;
      }
      //   &::after {
      //      content: "";
      //      width: 2%;
      //      height: 2px;
      //      border-radius: 10px;
      //      background: #cfd1d8;
      //      opacity: 0;
      //      transition: 0.4s;
      //      margin-top: 5px;
      //   }
   }
}
.button {
   background: #e11d2e;
   border-radius: 10px;
   padding: 11px 30px;
   font-weight: 600;
   font-size: 15px;
   line-height: 18px;
   text-align: center;
   color: #ffffff;
   opacity: 0.8;
   transition: 0.5s;
   cursor: pointer;
   border: none;

   &:hover {
      background: #ac1216;
   }
}
.logo_wrapper {
   display: flex;
   gap: 15px;
   cursor: pointer;
}
.mobile_btns {
   display: none;
}
.header_info_wrapper {
   display: flex;
   justify-content: space-between;
   width: 100%;
   max-width: 1736px;
   margin: 0 auto 93px;
   padding: 0 15px;
   flex-wrap: wrap;
   align-items: center;
}
.header_info_col {
}
.header_info_col1 {
   width: 100%;
   max-width: 726px;
}
h1 {
   font-family: $font_800;
   font-size: 80px;
   line-height: 90px;
   color: #fff;
   span {
      color: #e11d2e;
   }
}
.header_info_col_subtitle {
   font-family: $font_500;
   font-size: 25px;
   line-height: 30px;
   color: #71768e;
}
.header_info_col_text {
   margin: 40px auto 46px;
   font-family: $font_400;
   font-size: 32px;
   line-height: 38px;
   display: flex;
   align-items: center;
   color: #a0a3b5;
}
.header_info_col_buttons {
   display: flex;
   gap: 25px;
   width: 100%;
   max-width: 699px;
}
.reb_btn {
   cursor: pointer;
   background: #e11d2e;
   border-radius: 10px;
   font-family: $font_700;
   border: none;
   padding: 25px 54px;
   font-size: 25px;
   line-height: 30px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #ffffff;
   transition: 0.5s;
   width: 100%;
   max-width: 295px;
   &:hover {
      background: #b81f36;
   }
}
.black_btn {
   cursor: pointer;
   font-family: $font_500;
   font-size: 22px;
   line-height: 26px;
   align-items: center;
   text-align: center;
   color: #ffffff;
   opacity: 0.9;
   padding: 27px 30px;
   background: rgba(255, 255, 255, 0.05);
   border-radius: 10px;
   transition: 0.5s;
   border: none;
   width: 100%;
   max-width: 379px;
   &:hover {
      background: #1a203b;
   }
}
.header_info_col_code {
   margin-top: 20px;
   border: 1px solid rgba(255, 255, 255, 0.09);
   border-radius: 10px;
   padding: 14px 0 14px 30px;
   width: 100%;
   max-width: 699px;
}
.header_info_col_code_title {
   font-size: 15px;
   line-height: 18px;
   font-family: $font_500;
   color: rgba(255, 255, 255, 0.2);
}
.header_info_col_code_hash {
   font-size: 25px;
   line-height: 30px;
   font-family: $font_400;
   color: rgba(255, 255, 255, 0.4);
}
.header_info_col2 {
}

// ==================================
// ==================================

// ==================================
//     2 Section
// ==================================

.wrap {
   width: 100%;
   margin: 0 auto;
   background: #5a4039;
}
.items-wrap {
   width: 100%;
   position: relative;
   display: flex;
   overflow: hidden;
   user-select: none;
   gap: 20px;
}

.items-wrap:before {
   left: 0;
   background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
   );
}
.items-wrap:after {
   right: 0;
   background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
   );
}
.items {
   flex-shrink: 0;
   display: flex;
   gap: 25px;
   counter-reset: item;
   justify-content: space-around;
   min-width: 100%;
}
.item {
   flex: 0 0 auto;
   width: 222px;
   font-family: $font_600;
   font-size: 13px;
   line-height: 16px;
   display: flex;
   align-items: center;
   text-transform: uppercase;
   color: rgba(255, 245, 0, 0.6);
   margin: 11px 0;
   transition: all 0.1s ease-in-out;
}

.item:before {
   content: "WARNING: this is not a meme coin";
}

.marquee {
   animation: scroll 30s linear infinite;
}

@keyframes scroll {
   from {
      transform: translateX(0);
   }
   to {
      transform: translateX(calc(-100% - 20px));
   }
}

.how_it_works {
   background-image: url(../img/2_section/2sectiont.png);
   background-position: center;
   background-repeat: no-repeat;
   background-position-x: center;
   padding-top: 50px;
   padding-bottom: 180px;

   .section_title {
      margin-bottom: 50px;
   }
}
.how_it_works_wrapper {
   position: relative;
}
.img_red {
   left: 30%;
   top: 330px;
   border: 29px solid rgba(225, 29, 46, 0.2);
   border-radius: 50%;
   transition: 0.5s;
   &:hover {
      border: 29px solid rgba(225, 29, 46, 0.4);
   }
}
.img_blue {
   right: 20%;

   top: 115px;
   border: 29px solid rgba(0, 150, 242, 0.2);
   border-radius: 50%;
   transition: 0.5s;
   &:hover {
      border: 29px solid rgba(0, 150, 242, 0.4);
   }
}
.img_gold {
   right: 30%;

   bottom: 35px;
   border: 29px solid rgba(255, 148, 41, 0.2);
   border-radius: 50%;
   transition: 0.5s;
   &:hover {
      border: 29px solid rgba(255, 148, 41, 0.4);
   }
}
.cat_img_earth {
   margin-top: 13px;
   margin-bottom: 15px;
}
.partners_icons {
   display: flex;
   gap: 10px;
   width: 100%;
   max-width: 980px;
   margin: 0 auto 116px;
}
.partners_icons_item {
   width: 100%;
   max-width: 156px;
   max-height: 50px;
   opacity: 0.5;
   transition: 0.5s;
   cursor: pointer;
   img {
      height: 100%;
   }
   &:hover {
      opacity: 1;
   }
}
.how_it_works_info {
   text-align: center;
   padding-bottom: 130px;
   h3 {
      font-family: $font_700;
      font-size: 35px;
      line-height: 42px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
      width: 100%;
      max-width: 552px;
      margin: 0 auto;
   }
   .header_info_col_buttons {
      justify-content: center;
      //   margin-top: 208px;
      width: 100%;
      max-width: 215px;
      height: 77px;

      margin: 0 auto;
      .reb_btn {
         font-family: $font_600 !important;
         font-size: 22px !important;
         line-height: 26px !important;
         width: 100% !important;
         padding: 10px 45px 15px;
      }
   }
}
.img_absolute {
   position: absolute;
}
.section_title {
   font-family: $font_700;
   font-size: 50px;
   line-height: 60px;
   text-align: center;
   color: #ffffff;
}
// ==================================
// ==================================

// ==================================
// 3 Section
// ==================================

.services {
   background: #101932;
   padding-bottom: 209px;
   .section_title {
      margin-bottom: 50px;
   }
}
.services_cards {
   display: flex;
   width: 100%;
   max-width: 1624px;
   margin: 0 auto;
   gap: 68px;
   flex-wrap: wrap;
   justify-content: center;
}
.services_cards_item {
   width: 496px;
   height: fit-content;
   padding: 30px 35px 40px 40px;
   background: #384d70;
   border-radius: 20px;
   transition: 0.5s;
   &:hover{
    transform: scale(1.1);
   }
}
.card_item_img {
}
.card_item_title {
    margin-top: 30px;
    margin-bottom: 10px;

   font-family: $font_600;
   font-size: 35px;
   line-height: 42px;
   display: flex;
   align-items: center;
   color: #ffffff;
}
.card_item_subtitle {
   font-family: $font_400;
   font-size: 20px;
   line-height: 24px;
   display: flex;
   align-items: center;
   color: #ffffff;
   opacity: 0.3;
}
.card_item_text {
   font-family: $font_500;
   font-size: 25px;
   line-height: 30px;
   display: flex;
   align-items: center;
   color: rgba(255, 255, 255, 0.7);
}
.card_item_text1 {
   margin: 30px auto;
}
.card_item_text3 {
    margin: 30px auto 0;
 }
// ==================================
// ==================================
