@media (max-height: 689.98px) {
  .mobile_menu_wrapper {
    min-height: 800px !important;
  }
}
@media (max-width: 1644.98px) {
  .desktop_menu {
    display: none !important;
  }
  .mobile_menu {
    width: 40px;
    height: 40px;
    background: #384d70;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .mobile_menu span {
    background: #ffffff;
    border-radius: 5px;
    width: 17px;
    height: 2px;
    margin: 0 auto;
    cursor: pointer;
  }
  nav {
    padding: 0 15px !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    gap: 150px !important;
  }
  .header_wrapper {
    max-width: 726px !important;
    margin: 0 auto 93px;
  }
  .header_wrapper nav {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  header {
    position: relative;
  }
  .body_hide {
    display: none !important;
  }
  .right_0 {
    right: 0 !important;
  }
  .right_0 .mobile_menu span {
    width: 27px !important;
    height: 4px !important;
  }
  .right_0 .mobile_menu .span_1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 0 0 0;
  }
  .right_0 .mobile_menu .span_2 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: -10px 0 0;
  }
  .right_0 .mobile_menu .span_3 {
    display: none !important;
  }
  .mobile_menu_wrapper {
    padding-top: 17px !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    top: 0;
    right: -100%;
    background: #384d70;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 100vh;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile_menu_wrapper nav {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    padding: 0 !important;
    margin-bottom: 53px;
  }
  .mobile_menu_wrapper .links {
    width: 100% !important;
    max-width: 360px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px !important;
    margin: 0 auto 70px;
  }
  .mobile_menu_wrapper .links a {
    font-size: 19px !important;
  }
  .mobile_menu_wrapper .button {
    width: 100% !important;
    max-width: 360px !important;
    margin: 0 auto;
  }
}
@media (min-width: 1645px) {
  .mobile_menu,
.mobile_menu_wrapper {
    display: none !important;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  nav {
    padding: 0 15px !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    gap: 0 !important;
  }
  .logo_title {
    font-size: 15px !important;
  }
  .links {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .header_info_wrapper {
    padding: 0 !important;
  }
  .header_wrapper {
    max-width: 726px !important;
    margin: 0 auto 93px;
  }
  .header_wrapper nav {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  h1 {
    font-size: 50px !important;
    line-height: 50px !important;
  }
  .header_info_col1,
.header_info_col_buttons {
    padding: 0 15px !important;
  }
  .header_info_col_subtitle {
    margin-top: 10px;
    font-size: 15px !important;
    line-height: 18px !important;
  }
  .header_info_col_text {
    font-size: 22px !important;
    line-height: 26px !important;
  }
  .header_info_col2 {
    width: 100%;
    max-width: 200px;
  }
  .header_info_col2 img {
    width: 100%;
  }
  .header_info_col_code {
    padding: 12px 0 12px 15px !important;
    margin: 0 auto !important;
    width: 100% !important;
    max-width: 380px !important;
  }
  .header_info_col_buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px !important;
  }
  .reb_btn {
    font-size: 19px !important;
    line-height: 23px !important;
  }
  .black_btn {
    font-size: 18px !important;
    line-height: 21px !important;
  }
  .header_info_col_code_title {
    font-size: 11px !important;
    line-height: 13px !important;
  }
  .header_info_col_code_hash {
    margin-top: 5px;
    font-size: 12px !important;
    line-height: 17px !important;
  }
  .hach_wrapper {
    padding: 0 5px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header_wrapper {
    max-width: 726px !important;
    margin: 0 auto 93px;
  }
  .header_wrapper nav {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .header_info_col_buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header_info_col_code_hash {
    margin-top: 5px;
    font-size: 21px !important;
    line-height: 17px !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header_wrapper {
    max-width: 726px !important;
    margin: 0 auto 93px;
  }
  .header_wrapper nav {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .header_wrapper {
    max-width: 726px !important;
    margin: 0 auto 93px;
  }
  .header_wrapper nav {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .header_wrapper {
    max-width: 726px !important;
    margin: 0 auto 93px;
  }
  .header_wrapper nav {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}
@media (max-width: 1347.98px) {
  .header_info_wrapper {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .desktop_btns {
    display: none !important;
  }
  .mobile_btns {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .header_info_col2 {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
  }
  .mobile_btns {
    width: 100%;
    max-width: 660px;
    margin: auto;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  .partners_icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partners_icons .partners_icons_item1 {
    width: 93.75px !important;
    height: 30px !important;
  }
  .partners_icons .partners_icons_item2 {
    width: 80px !important;
    height: 30px !important;
  }
  .partners_icons .partners_icons_item3 {
    width: 83px !important;
    height: 30px !important;
  }
  .partners_icons .partners_icons_item4 {
    width: 99px !important;
    height: 30px !important;
  }
  .partners_icons .partners_icons_item5 {
    width: 114px !important;
    height: 30px !important;
  }
  .partners_icons .partners_icons_item6 {
    width: 86px !important;
    height: 30px !important;
  }
  .partners_icons {
    margin-bottom: 35px !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 19px;
  }
  .how_it_works_info {
    background: url(../img/2_section/mobile.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    padding-bottom: 0 !important;
  }
  .how_it_works_info h3 {
    max-width: 360px !important;
    font-size: 25px !important;
    line-height: 30px !important;
  }
  .how_it_works_info .header_info_col_buttons {
    max-width: 300px !important;
    margin-top: 294px !important;
    /* width: 260px !important; */
    height: 46px !important;
  }
  .how_it_works {
    background: #101932 !important;
  }
  .img_blue {
    display: none !important;
  }
  .img_gold {
    display: none !important;
  }
  .img_red {
    display: none !important;
  }
  .cat_img_earth {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .partners_icons {
    margin-bottom: 35px !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 19px;
  }
  .how_it_works_info {
    background: url(../img/2_section/mobile.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    padding-bottom: 0 !important;
  }
  .how_it_works_info h3 {
    max-width: 360px !important;
    font-size: 25px !important;
    line-height: 30px !important;
  }
  .how_it_works_info .header_info_col_buttons {
    margin-top: 350px !important;
  }
  .how_it_works {
    background: #101932 !important;
  }
  .img_blue {
    display: none !important;
  }
  .img_gold {
    display: none !important;
  }
  .img_red {
    display: none !important;
  }
  .cat_img_earth {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .partners_icons {
    margin-bottom: 35px !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 19px;
  }
  .how_it_works_info h3 {
    font-size: 25px !important;
    line-height: 30px !important;
  }
  .img_blue {
    right: 4% !important;
    max-width: 70px;
    border: 17px solid rgba(0, 150, 242, 0.2) !important;
  }
  .img_blue:hover {
    border: 17px solid rgba(0, 150, 242, 0.4) !important;
  }
  .img_gold {
    right: 17% !important;
    max-width: 70px;
    border: 17px solid rgba(255, 148, 41, 0.2) !important;
  }
  .img_gold:hover {
    border: 17px solid rgba(255, 148, 41, 0.4) !important;
  }
  .img_red {
    left: 20% !important;
    max-width: 70px;
    border: 17px solid rgba(225, 29, 46, 0.2) !important;
  }
  .img_red:hover {
    border: 17px solid rgba(225, 29, 46, 0.4) !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .img_blue {
    right: 9% !important;
  }
  .img_gold {
    right: 17% !important;
  }
  .img_red {
    left: 20% !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .img_blue {
    right: 9% !important;
  }
  .img_gold {
    right: 17% !important;
  }
  .img_red {
    left: 20% !important;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  .services_cards {
    padding: 0 15px;
    gap: 30px !important;
  }
  .services_cards .card_item_title {
    font-size: 30px !important;
    line-height: 36px !important;
  }
  .services_cards .card_item_subtitle {
    font-size: 15px !important;
    line-height: 18px !important;
  }
  .services_cards .card_item_text {
    font-size: 19px !important;
    line-height: 23px !important;
  }
  .services_cards_item:hover {
    -webkit-transform: scale(1.03) !important;
            transform: scale(1.03) !important;
  }
  .play_wrapper_col1 {
    padding: 20px 20px 29px 20px !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .play_wrapper_col1 .play_wrapper_col1_item_title {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: start;
    font-size: 24px !important;
    line-height: 29px !important;
  }
  .play_wrapper_col1 .play_wrapper_col1_item2_text {
    font-size: 19px !important;
    line-height: 23px !important;
  }
  .play_wrapper_col1 .play_wrapper_col1_item {
    width: 100%;
  }
  .play_wrapper_col1 .play_wrapper_col1_item img {
    width: 100%;
  }
  .play_wrapper_col2_item1 {
    max-height: -webkit-fit-content !important;
    max-height: -moz-fit-content !important;
    max-height: fit-content !important;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 20px 50px 20px !important;
  }
  .play_wrapper_col2_item1 .play_wrapper_col1_item_title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 30px !important;
    line-height: 36px !important;
  }
  .play_wrapper_col2_item2 {
    max-height: -webkit-fit-content !important;
    max-height: -moz-fit-content !important;
    max-height: fit-content !important;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 20px 50px 20px !important;
  }
  .play_wrapper_col2_item2 .play_wrapper_col1_item_title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 30px !important;
    line-height: 36px !important;
  }
  .play_wrapper_col2_item2_info_text {
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .play_wrapper_col1 {
    padding: 20px 20px 29px 20px !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .play_wrapper_col1 .play_wrapper_col1_item_title {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: start;
    font-size: 24px !important;
    line-height: 29px !important;
  }
  .play_wrapper_col1 .play_wrapper_col1_item2_text {
    font-size: 19px !important;
    line-height: 23px !important;
  }
  .play_wrapper_col1 .play_wrapper_col1_item {
    width: 100%;
  }
  .play_wrapper_col1 .play_wrapper_col1_item img {
    width: 100%;
  }
  .play_wrapper_col2_item1 {
    max-height: -webkit-fit-content !important;
    max-height: -moz-fit-content !important;
    max-height: fit-content !important;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 20px 50px 20px !important;
  }
  .play_wrapper_col2_item1 .play_wrapper_col1_item_title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 30px !important;
    line-height: 36px !important;
  }
  .play_wrapper_col2_item2 {
    max-height: -webkit-fit-content !important;
    max-height: -moz-fit-content !important;
    max-height: fit-content !important;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 20px 50px 20px !important;
  }
  .play_wrapper_col2_item2 .play_wrapper_col1_item_title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 30px !important;
    line-height: 36px !important;
  }
  .play_wrapper_col2_item2_info_text {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .play_wrapper_col1 {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .play_wrapper_col1 .play_wrapper_col1_item {
    width: 100%;
  }
  .play_wrapper_col1 .play_wrapper_col1_item img {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .play_wrapper_col1 {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .play_wrapper_col1 .play_wrapper_col1_item {
    width: 100%;
  }
  .play_wrapper_col1 .play_wrapper_col1_item img {
    width: 100%;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .play_wrapper_col1 {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .play_wrapper_col1 .play_wrapper_col1_item {
    width: 100%;
  }
  .play_wrapper_col1 .play_wrapper_col1_item img {
    width: 100%;
  }
}
@media (min-width: 1600px) {
  .play_wrapper_col2_item1 {
    max-width: 847px;
  }
  .play_wrapper_col2_item2 {
    max-width: 848px;
  }
  .play_wrapper_col2 {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "SF Pro Display Regular";
  src: url(../fonts/SFProDisplay-Regular.ttf);
}
@font-face {
  font-family: "SF Pro Display Medium";
  src: url(../fonts/SFProDisplay-Medium.ttf);
}
@font-face {
  font-family: "SF Pro Display Semibold";
  src: url(../fonts/SFProDisplay-Semibold.ttf);
}
@font-face {
  font-family: "SF Pro Display Bold";
  src: url(../fonts/SFProDisplay-Bold.ttf);
}
@font-face {
  font-family: "SF Pro Display Black";
  src: url(../fonts/SFProDisplay-Black.ttf);
}
@font-face {
  font-family: "SF Pro Display Heavy";
  src: url(../fonts/SFProDisplay-Heavy.ttf);
}
body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", sans-serif;
}

header {
  padding: 25px 0 0 0;
  min-height: 100vh;
  background: url(../img/Header/intro_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  max-width: 100%;
  position: relative;
}

.header_wrapper {
  width: 100%;
  max-width: 1736px;
  margin: 0 auto 93px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo_title {
  font-weight: 800;
  font-size: 25px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  cursor: pointer;
  gap: 5px;
}
.logo_title span {
  color: #e11d2e;
  cursor: pointer;
}

.desktop_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}
.desktop_menu .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.desktop_menu .links a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}
.desktop_menu .links a:hover {
  color: #ffffff;
}
.desktop_menu .links a:hover::after {
  content: "";
  width: 100%;
  opacity: 1;
}
.desktop_menu .links a::after {
  content: "";
  width: 2%;
  height: 3px;
  position: absolute;
  border-radius: 10px;
  background: #cfd1d8;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  left: 0;
  bottom: -10px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.links a {
  font-family: "SF Pro Display Semibold";
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.links a:hover {
  color: #ffffff;
}
.links a:visited {
  color: #ffffff;
}

.button {
  background: #e11d2e;
  border-radius: 10px;
  padding: 11px 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  border: none;
}
.button:hover {
  background: #ac1216;
}

.logo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.mobile_btns {
  display: none;
}

.header_info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1736px;
  margin: 0 auto 93px;
  padding: 0 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_info_col1 {
  width: 100%;
  max-width: 726px;
}

h1 {
  font-family: "SF Pro Display Black";
  font-size: 80px;
  line-height: 90px;
  color: #fff;
}
h1 span {
  color: #e11d2e;
}

.header_info_col_subtitle {
  font-family: "SF Pro Display Medium";
  font-size: 25px;
  line-height: 30px;
  color: #71768e;
}

.header_info_col_text {
  margin: 40px auto 46px;
  font-family: "SF Pro Display Regular";
  font-size: 32px;
  line-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a0a3b5;
}

.header_info_col_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  width: 100%;
  max-width: 699px;
}

.reb_btn {
  cursor: pointer;
  background: #e11d2e;
  border-radius: 10px;
  font-family: "SF Pro Display Bold";
  border: none;
  padding: 25px 54px;
  font-size: 25px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  max-width: 295px;
}
.reb_btn:hover {
  background: #b81f36;
}

.black_btn {
  cursor: pointer;
  font-family: "SF Pro Display Medium";
  font-size: 22px;
  line-height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  opacity: 0.9;
  padding: 27px 30px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: none;
  width: 100%;
  max-width: 379px;
}
.black_btn:hover {
  background: #1a203b;
}

.header_info_col_code {
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.09);
  border-radius: 10px;
  padding: 14px 0 14px 30px;
  width: 100%;
  max-width: 699px;
}

.header_info_col_code_title {
  font-size: 15px;
  line-height: 18px;
  font-family: "SF Pro Display Medium";
  color: rgba(255, 255, 255, 0.2);
}

.header_info_col_code_hash {
  font-size: 25px;
  line-height: 30px;
  font-family: "SF Pro Display Regular";
  color: rgba(255, 255, 255, 0.4);
}

.wrap {
  width: 100%;
  margin: 0 auto;
  background: #5a4039;
}

.items-wrap {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  gap: 20px;
}

.items-wrap:before {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.items-wrap:after {
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgb(255, 255, 255)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}

.items {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  counter-reset: item;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 100%;
}

.item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 222px;
  font-family: "SF Pro Display Semibold";
  font-size: 13px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: rgba(255, 245, 0, 0.6);
  margin: 11px 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.item:before {
  content: "WARNING: this is not a meme coin";
}

.marquee {
  -webkit-animation: scroll 30s linear infinite;
          animation: scroll 30s linear infinite;
}

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
  }
}
.how_it_works {
  background-image: url(../img/2_section/2sectiont.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: center;
  padding-top: 50px;
  padding-bottom: 180px;
}
.how_it_works .section_title {
  margin-bottom: 50px;
}

.how_it_works_wrapper {
  position: relative;
}

.img_red {
  left: 30%;
  top: 330px;
  border: 29px solid rgba(225, 29, 46, 0.2);
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.img_red:hover {
  border: 29px solid rgba(225, 29, 46, 0.4);
}

.img_blue {
  right: 20%;
  top: 115px;
  border: 29px solid rgba(0, 150, 242, 0.2);
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.img_blue:hover {
  border: 29px solid rgba(0, 150, 242, 0.4);
}

.img_gold {
  right: 30%;
  bottom: 35px;
  border: 29px solid rgba(255, 148, 41, 0.2);
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.img_gold:hover {
  border: 29px solid rgba(255, 148, 41, 0.4);
}

.cat_img_earth {
  margin-top: 13px;
  margin-bottom: 15px;
}

.partners_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 980px;
  margin: 0 auto 116px;
}

.partners_icons_item {
  width: 100%;
  max-width: 156px;
  max-height: 50px;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.partners_icons_item img {
  height: 100%;
}
.partners_icons_item:hover {
  opacity: 1;
}

.how_it_works_info {
  text-align: center;
  padding-bottom: 130px;
}
.how_it_works_info h3 {
  font-family: "SF Pro Display Bold";
  font-size: 35px;
  line-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  width: 100%;
  max-width: 552px;
  margin: 0 auto;
}
.how_it_works_info .header_info_col_buttons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 215px;
  height: 77px;
  margin: 0 auto;
}
.how_it_works_info .header_info_col_buttons .reb_btn {
  font-family: "SF Pro Display Semibold" !important;
  font-size: 22px !important;
  line-height: 26px !important;
  width: 100% !important;
  padding: 10px 45px 15px;
}

.img_absolute {
  position: absolute;
}

.section_title {
  font-family: "SF Pro Display Bold";
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}

.section_subtitle {
  font-family: "SF Pro Display Regular";
  font-size: 25px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
}

.services {
  background: #101932;
  padding-bottom: 209px;
}
.services .section_title {
  margin-bottom: 50px;
}

.services_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1624px;
  margin: 0 auto;
  gap: 68px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services_cards_item {
  width: 496px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px 35px 40px 40px;
  background: #384d70;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.services_cards_item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card_item_title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "SF Pro Display Semibold";
  font-size: 35px;
  line-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.card_item_subtitle {
  font-family: "SF Pro Display Regular";
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  opacity: 0.3;
}

.card_item_text {
  font-family: "SF Pro Display Medium";
  font-size: 25px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.7);
}

.card_item_text1 {
  margin: 30px auto;
}

.card_item_text3 {
  margin: 30px auto 0;
}

.play {
  background: #101932;
  padding-bottom: 175px;
}

.play_wrapper {
  width: 100%;
  max-width: 1736px;
  margin: 50px auto 0;
  padding: 0 15px;
}

.play_wrapper_col1 {
  width: 100%;
  background: #071022;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 41px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 50px 60px;
}

.play_wrapper_col1_item_title {
  margin-bottom: 20px;
  font-family: "SF Pro Display Bold";
  font-size: 30px;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.play_wrapper_col1_item2_text {
  font-family: "SF Pro Display Regular";
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.6);
}

.play_wrapper_col1_item2_text_middle {
  margin: 30px auto;
}

.play_wrapper_col2 {
  width: 100%;
  max-width: 1736px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 41px;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.play_wrapper_col2_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play_wrapper_col2_item1 {
  background: #ff9429;
  border-radius: 30px;
  padding: 36px 64px 40px 30px;
  max-height: 231px;
  width: 100%;
}

.play_wrapper_col2_item2 {
  background: #067ccb;
  border-radius: 30px;
  padding: 38px 38px 38px 30px;
  max-height: 231px;
  width: 100%;
}

.play_wrapper_col2_item2_info_text {
  font-family: "SF Pro Display Regular";
  font-size: 28px;
  line-height: 33px;
  color: #ffffff;
  opacity: 0.8;
}