@import "_media";

// Обнуление стилей

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}
ol,
ul {
   list-style: none;
}
blockquote,
q {
   quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
   content: "";
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

* {
   box-sizing: border-box;
}
@font-face {
   font-family: "SF Pro Display Regular";
   src: url(../fonts/SFProDisplay-Regular.ttf);
}

@font-face {
   font-family: "SF Pro Display Medium";
   src: url(../fonts/SFProDisplay-Medium.ttf);
}

@font-face {
   font-family: "SF Pro Display Semibold";
   src: url(../fonts/SFProDisplay-Semibold.ttf);
}

@font-face {
   font-family: "SF Pro Display Bold";
   src: url(../fonts/SFProDisplay-Bold.ttf);
}

@font-face {
   font-family: "SF Pro Display Black";
   src: url(../fonts/SFProDisplay-Black.ttf);
}

@font-face {
   font-family: "SF Pro Display Heavy";
   src: url(../fonts/SFProDisplay-Heavy.ttf);
}
$font_400: "SF Pro Display Regular";
$font_500: "SF Pro Display Medium";
$font_600: "SF Pro Display Semibold";
$font_700: "SF Pro Display Bold";
$font_800: "SF Pro Display Black";
$font_900: "SF Pro Display Heavy";
body {
   margin: 0;
   padding: 0;
   font-family: "SF Pro Display", sans-serif;
   scroll-behavior: smooth;
   &::-webkit-scrollbar {
      z-index: 999999999999999999999999999999999999 !important;
      background: #101932;
      transition: 0.5s;
   }
   &::-webkit-scrollbar-track {
      z-index: 999999999999999999999999999999999999 !important;
      transition: 0.5s;
   }
   &::-webkit-scrollbar-thumb {
      z-index: 999999999999999999999999999999999999 !important;
      background: #2848a8;
      border-radius: 20px;
      cursor: pointer !important;
   }
   &::-webkit-scrollbar-button {
      display: none;
   }
}

// ==================================
// Шапка сайта
// ==================================

header {
   padding: 25px 0 0 0;
   min-height: 100vh;
   background: url(../img/Header/intro_bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   overflow-x: hidden;
   max-width: 100%;
   position: relative;
}
.header_wrapper {
   width: 100%;
   max-width: 1736px;
   margin: 0 auto 93px;
}
nav {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.logo_title {
   font-weight: 800;
   font-size: 25px;
   line-height: 34px;
   display: flex;
   align-items: center;
   color: #ffffff;
   cursor: pointer;
   gap: 5px;
   span {
      color: #e11d2e;
      cursor: pointer;
   }
}
.desktop_menu {
   display: flex;
   gap: 70px;
   .links {
      display: flex;
      align-items: center;
      gap: 25px;
      a {
         display: inline-flex;
         position: relative;
         &:hover {
            color: #ffffff;
            &::after {
               content: "";
               width: 100%;
               opacity: 1;
               right: 0 !important;
            }
         }
         &::after {
            content: "";
            width: 2%;
            height: 2px;
            position: absolute;
            border-radius: 10px;
            background: #cfd1d8;
            opacity: 0;
            transition: 0.4s;
            right: 0;
            bottom: -10px;
         }
      }
   }
}
.links {
   display: flex;
   align-items: center;
   gap: 25px;
   a {
      font-family: $font_600;
      font-size: 17px;
      line-height: 20px;
      color: #ffffff;
      opacity: 0.8;
      text-decoration: none;
      cursor: pointer;
      transition: 0.5s;
      flex-direction: column;
      display: inline-flex;
      &:hover {
         color: #ffffff;
         //  &::after {
         //     content: "";
         //     width: 100%;
         //     opacity: 1;
         //  }
      }
      &:visited {
         color: #ffffff;
      }
      //   &::after {
      //      content: "";
      //      width: 2%;
      //      height: 2px;
      //      border-radius: 10px;
      //      background: #cfd1d8;
      //      opacity: 0;
      //      transition: 0.4s;
      //      margin-top: 5px;
      //   }
   }
}
.button {
   background: #e11d2e;
   border-radius: 10px;
   padding: 11px 30px;
   font-weight: 600;
   font-size: 15px;
   line-height: 18px;
   text-align: center;
   color: #ffffff;
   opacity: 0.8;
   transition: 0.5s;
   cursor: pointer;
   border: none;

   &:hover {
      background: #ac1216;
   }
}
.logo_wrapper {
   display: flex;
   gap: 15px;
   cursor: pointer;
   margin-right: 177px;
}
.mobile_btns {
   display: none;
}
.header_info_wrapper {
   display: flex;
   justify-content: space-between;
   width: 100%;
   max-width: 1736px;
   margin: 0 auto 93px;
   padding: 0 15px;
   flex-wrap: wrap;
   align-items: center;
}
.header_info_col {
}
.header_info_col1 {
   width: 100%;
   max-width: 726px;
}
h1 {
   font-family: $font_800;
   font-size: 80px;
   line-height: 90px;
   color: #fff;
   span {
      color: #e11d2e;
   }
}
.header_info_col_subtitle {
   font-family: $font_500;
   font-size: 25px;
   line-height: 30px;
   color: #71768e;
}
.header_info_col_text {
   margin: 40px auto 46px;
   font-family: $font_400;
   font-size: 32px;
   line-height: 38px;
   display: flex;
   align-items: center;
   color: #a0a3b5;
}
.header_info_col_buttons {
   display: flex;
   gap: 25px;
   width: 100%;
   max-width: 699px;
}
.reb_btn {
   cursor: pointer;
   background: #e11d2e;
   border-radius: 10px;
   font-family: $font_700;
   border: none;
   padding: 25px 54px;
   font-size: 25px;
   line-height: 30px;
   align-items: center;
   text-align: center;
   color: #ffffff;
   transition: 0.5s;
   width: 100%;
   max-width: 295px;
   &:hover {
      background: #8a1829;
   }
}
.black_btn {
   cursor: pointer;
   font-family: $font_500;
   font-size: 22px;
   line-height: 26px;
   align-items: center;
   text-align: center;
   color: #ffffff;
   opacity: 0.9;
   padding: 27px 30px;
   background: rgba(255, 255, 255, 0.05);
   border-radius: 10px;
   transition: 0.5s;
   border: none;
   width: 100%;
   max-width: 379px;
   &:hover {
      background: #1a203b;
   }
}
.header_info_col_code {
   margin-top: 20px;
   border: 1px solid rgba(255, 255, 255, 0.09);
   border-radius: 10px;
   padding: 14px 0 14px 30px;
   width: 100%;
   max-width: 699px;
   transition: 0.5s;
   cursor: pointer;
   * {
      cursor: pointer;
   }
   &:hover {
      border: 1px solid rgba(255, 255, 255, 0.5);
   }
}
.header_info_col_code_title {
   font-size: 15px;
   line-height: 18px;
   font-family: $font_500;
   color: rgba(255, 255, 255, 0.2);
}
.header_info_col_code_hash {
   font-size: 25px;
   line-height: 30px;
   font-family: $font_400;
   color: rgba(255, 255, 255, 0.4);
}
.header_info_col2 {
   transition: all 0.5s ease !important;
   &:hover {
      transform: scale(1.1);
   }
}

#toTop {
   width: 68px;
   border: 2px solid #8e95a3;
   background: #1e2b48;
   text-align: center;
   padding: 5px 0 14px 0px;
   position: fixed;
   bottom: 37px;
   border-radius: 50%;
   right: 2%;
   cursor: pointer;
   display: none;
   color: #fff;
   font-family: verdana;
   font-size: 37px;
   z-index: 222;
}
// ==================================
// ==================================

// ==================================
//     2 Section
// ==================================

.wrap {
   width: 100%;
   margin: 0 auto;
   background: #5a4039;
}
.items-wrap {
   width: 100%;
   position: relative;
   display: flex;
   overflow: hidden;
   user-select: none;
   gap: 20px;
}

.items-wrap:before {
   left: 0;
   background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
   );
}
.items-wrap:after {
   right: 0;
   background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
   );
}
.items {
   flex-shrink: 0;
   display: flex;
   gap: 25px;
   counter-reset: item;
   justify-content: space-around;
   min-width: 100%;
}
.item {
   flex: 0 0 auto;
   width: 222px;
   font-family: $font_600;
   font-size: 13px;
   line-height: 16px;
   display: flex;
   align-items: center;
   text-transform: uppercase;
   color: rgba(255, 245, 0, 0.6);
   margin: 11px 0;
   transition: all 0.1s ease-in-out;
}

.item:before {
   content: "WARNING: this is not a meme coin";
}

.marquee {
   animation: scroll 40s linear infinite;
}

@keyframes scroll {
   from {
      transform: translateX(0);
   }
   to {
      transform: translateX(calc(-100% - 20px));
   }
}

.how_it_works {
   background-image: url(../img/2_section/2sectiont.png);
   background-position: center;
   background-repeat: no-repeat;
   background-position-x: center;
   padding-top: 50px;
   padding-bottom: 180px;

   .section_title {
      margin-bottom: 50px;
   }
}
.how_it_works_wrapper {
   position: relative;
   .partners_icons_item {
      opacity: 0.25;
   }
}
.img_red {
   left: 30%;
   top: 330px;
   border: 29px solid rgba(225, 29, 46, 0.2);
   border-radius: 50%;
   transition: 0.5s;
   &:hover {
      border: 29px solid rgba(225, 29, 46, 0.4);
   }
}
.img_blue {
   right: 20%;

   top: 115px;
   border: 29px solid rgba(0, 150, 242, 0.2);
   border-radius: 50%;
   transition: 0.5s;
   &:hover {
      border: 29px solid rgba(0, 150, 242, 0.4);
   }
}
.img_gold {
   right: 30%;

   bottom: 35px;
   border: 29px solid rgba(255, 148, 41, 0.2);
   border-radius: 50%;
   transition: 0.5s;
   &:hover {
      border: 29px solid rgba(255, 148, 41, 0.4);
   }
}
.cat_img_earth {
   margin-top: 13px;
   margin-bottom: 15px;
}
.partners_icons {
   display: flex;
   gap: 10px;
   width: 100%;
   max-width: 980px;
   margin: 0 auto 116px;
}
.partners_icons_item {
   width: 100%;
   max-width: 156px;
   max-height: 50px;
   opacity: 0.5;
   transition: 0.5s;
   cursor: pointer;
   img {
      height: 100%;
   }
   &:hover {
      opacity: 1;
   }
}
.how_it_works_info {
   text-align: center;
   padding-bottom: 130px;
   h3 {
      font-family: $font_700;
      font-size: 35px;
      line-height: 42px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
      width: 100%;
      max-width: 552px;
      margin: 0 auto;
   }
   .header_info_col_buttons {
      justify-content: center;
      //   margin-top: 208px;
      width: 100%;
      max-width: 215px;
      height: 77px;

      margin: 0 auto;
      .reb_btn {
         font-family: $font_600 !important;
         font-size: 22px !important;
         line-height: 26px !important;
         width: 100% !important;
         padding: 10px 45px 15px;
      }
   }
}
.img_absolute {
   position: absolute;
   transition: 0.5s;
   &:hover {
      transform: scale(1.2);
   }
}
.section_title {
   font-family: $font_700;
   font-size: 50px;
   line-height: 60px;
   text-align: center;
   color: #ffffff;
}
.section_subtitle {
   font-family: $font_400;
   font-size: 25px;
   line-height: 42px;
   text-align: center;
   color: #ffffff;
   opacity: 0.5;
}

// ==================================
// ==================================

// ==================================
// 3 Section
// ==================================

.services {
   background: #101932;
   padding-bottom: 209px;
   .section_title {
      margin-bottom: 50px;
   }
}
.services_cards {
   display: flex;
   width: 100%;
   max-width: 1624px;
   margin: 0 auto;
   gap: 68px;
   flex-wrap: wrap;
   justify-content: center;
}
.services_cards_item {
   width: 496px;
   height: fit-content;
   padding: 30px 35px 40px 40px;
   background: #384d70;
   border-radius: 20px;
   transition: 0.5s;
   cursor: pointer;
   * {
      cursor: pointer;
   }
   &:hover {
      transform: scale(1.1);
   }
}
.card_item_img {
}
.card_item_title {
   margin-top: 30px;
   margin-bottom: 10px;

   font-family: $font_600;
   font-size: 35px;
   line-height: 42px;
   display: flex;
   align-items: center;
   color: #ffffff;
}
.card_item_subtitle {
   font-family: $font_400;
   font-size: 20px;
   line-height: 24px;
   display: flex;
   align-items: center;
   color: #ffffff;
   opacity: 0.3;
}
.card_item_text {
   font-family: $font_500;
   font-size: 25px;
   line-height: 30px;
   display: flex;
   align-items: center;
   color: rgba(255, 255, 255, 0.7);
}
.card_item_text1 {
   margin: 30px auto;
}
.card_item_text3 {
   margin: 30px auto 0;
}
// ==================================
// ==================================

// ==================================
// 4 Section
// ==================================
.play {
   background: #101932;
   padding-bottom: 175px;
}
.play_wrapper {
   width: 100%;
   max-width: 1736px;
   margin: 50px auto 0;
   padding: 0 15px;
}
.play_wrapper_col1 {
   width: 100%;
   background: #071022;
   border-radius: 30px;
   display: flex;
   gap: 41px;
   align-items: center;
   padding: 36px 50px 60px;
}

.play_wrapper_col1_item_title {
   margin-bottom: 20px;
   font-family: $font_700;
   font-size: 30px;
   line-height: 36px;
   display: flex;
   align-items: center;
   color: #ffffff;
}
.play_wrapper_col1_item2_text {
   font-family: $font_400;
   font-size: 24px;
   line-height: 29px;
   color: rgba(255, 255, 255, 0.6);
}
.play_wrapper_col1_item2_text_middle {
   margin: 30px auto;
}
.play_wrapper_col2 {
   width: 100%;
   max-width: 1736px;
   display: flex;
   gap: 41px;
   margin-top: 50px;
   flex-wrap: wrap;
   justify-content: center;
}
.play_wrapper_col2_item {
   display: flex;
   gap: 30px;
   align-items: center;
}
.play_wrapper_col2_item1 {
   background: #ff9429;
   border-radius: 30px;
   padding: 36px 64px 40px 30px;
   max-height: 231px;
   width: 100%;
}
.play_wrapper_col2_item2 {
   background: #067ccb;
   border-radius: 30px;
   padding: 38px 38px 38px 30px;
   max-height: 231px;
   width: 100%;
}
.play_wrapper_col2_item2_info_text {
   font-family: $font_400;
   font-size: 28px;
   line-height: 33px;
   color: #ffffff;
   opacity: 0.8;
}

.trend {
   background: url(../img/3_section/bottom_bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 150px 92px 143px;
   .header_info_col_buttons {
      max-width: 404px;
      .reb_btn {
         width: 100%;
         max-width: 100%;
         font-family: $font_700;
         padding: 25px 30px;

         font-size: 25px;
         line-height: 30px;
         text-align: center;
         color: #ffffff;
      }
   }
}
.services_cards_item {
   .card_item_img {
      width: 120px;
      height: 120px;
      transition: 0.5s;
      img {
         width: 100%;
      }
      &:hover {
         transform: scale(1.1);
      }
   }
}
.play_wrapper_col3 {
   width: 100%;
   display: flex;
   gap: 188px;
   max-width: 1736px;
   margin: auto;
}

.play_wrapper_col3_item1_title {
   font-family: $font_700;
   font-size: 50px;
   line-height: 60px;
   color: #ffffff;
   max-width: 389px;
}
.play_wrapper_col3_item1_subtitle {
   max-width: 552px;
   margin-top: 20px;
   margin-bottom: 40px;
   font-family: $font_400;
   font-size: 20px;
   line-height: 24px;
   color: #ffffff;
   opacity: 0.6;
}

.play_wrapper_col3_item2_subitem {
   display: flex;
   gap: 21px;
}

.play_wrapper_col3_item2_subitem_title {
   font-family: $font_700;
   font-size: 30px;
   line-height: 36px;
   color: #ffffff;
}
.play_wrapper_col3_item2_subitem_text {
   font-family: $font_400;
   font-size: 32px;
   line-height: 38px;
   color: #ffffff;
   opacity: 0.8;
   margin-top: 10px;
}
.play_wrapper_col3_item2_subitem {
   width: 100%;
   max-width: 996px;
}
.play_wrapper_col3_item2_subitem2 {
   margin-top: 50px;
}
.preloader {
   display: flex;
   align-items: center;
   flex-direction: column;
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   overflow: hidden;
   /* фоновый цвет */
   background: linear-gradient(260.81deg, #162758 2.47%, #0a142a 97.49%);
   z-index: 1001;
   width: 100%;
   height: 100%;
   .logo_wrapper {
      position: absolute;
      bottom: 0%;
      margin-right: 0 !important;
      .logo_title {
         display: inherit;
      }
   }
}

@keyframes preloader-rotate {
   100% {
      transform: rotate(360deg);
   }
}
@keyframes preloader-rotate_2 {
   100% {
      transform: rotate(-360deg);
   }
}

.loaded_hiding .preloader {
   transition: 0.3s opacity;
   opacity: 0;
}
.preloader_wrapper {
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   width: 276px;
   height: 326px;
   position: relative;
   margin: auto;
}
.div_sircle {
   display: inline-block;
   width: 100%;
   position: absolute;
   left: 0;
   //    top: 50%;
   //    left: 50%;
   //    margin: -200px 0 0 -120px;
}

.load_cat {
   top: 22%;
}

.load_1 {
   top: 12%;
   animation: preloader-rotate 10s linear infinite alternate;
}
.load_2 {
   top: 5.7%;
   animation: preloader-rotate_2 10s linear infinite alternate;
}
.load_3 {
   top: 0%;
   animation: preloader-rotate 10s linear infinite alternate;
}
.loaded .preloader {
   display: none;
}

// ==================================
// ==================================

.road_line {
   background: #101932;
   padding: 70px 15px 130px;
}
.road_line_wrapper {
   width: 100%;
   max-width: 1624px;
   margin: 50px auto 0;
   display: flex;
   justify-content: space-between;
   gap: 19px;
}
.road_line_col {
   display: flex;
   flex-direction: column;
   gap: 395px;
   width: 792px;
}
.road_line_col2 {
   margin-top: 276px;
}
.road_line_col_item {
   background: rgba(56, 77, 112, 0.2);
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 30px;
   padding: 35px 0 35px 30px;
   display: flex;
   gap: 30px;
   width: 100%;
   cursor: pointer;
   transition: 0.5s;
   &:hover {
      background: #384d70;
      border: 1px solid rgba(255, 255, 255, 0.1);
      .road_line_col_item_number {
         background: rgba(255, 255, 255, 0.1);
         .road_line_col_item_number_number {
            color: #ffffff;
            opacity: 0.7;
         }
      }
   }
}
.line_img {
   height: 1693px;
   margin: 102px auto 0;
}
.road_line_col_item_number_number {
   font-family: $font_700;
   font-size: 65px;
   line-height: 78px;
   color: #ffffff;
   opacity: 0.5;
   cursor: pointer;
   transition: 0.5s;
}
.road_line_col_item_number {
   background: rgba(56, 77, 112, 0.2);
   border-radius: 30px;
   padding: 34px 53px;
   max-height: 146px;
   transition: 0.5s;
   cursor: pointer;
}
.road_line_col_item_info_title {
   font-family: $font_500;
   font-size: 30px;
   line-height: 36px;
   color: #ffffff;
   margin-bottom: 20px;
   opacity: 0.7;
}

.road_line_col_item_info_list {
   li {
      font-family: $font_400;
      font-size: 25px;
      line-height: 30px;
      color: #ffffff;
      opacity: 0.7;
   }
}

.road_line_wrapper_mobile {
   overflow-y: auto;
   scroll-behavior: smooth;
   position: relative;
   height: 869px;
   padding-bottom: 177px;
   &::-webkit-scrollbar {
      z-index: 999999999999999999999999999999999999 !important;
      background: #101932;
      width: 3px;
   }
   &::-webkit-scrollbar-track {
      z-index: 999999999999999999999999999999999999 !important;
      width: 3px;
   }
   &::-webkit-scrollbar-thumb {
      z-index: 999999999999999999999999999999999999 !important;
      background: #2848a8;
      border-radius: 20px;
      width: 100%;
   }
   .mobile_line {
      height: 1450px;
      position: absolute;
      top: 6%;
      left: 22px;
   }
}
.graphic_img {
   width: 100%;
   z-index: 212;
   position: absolute;
   bottom: -254px;
   left: 0;
}
.road_line_wrapper_mobile_items {
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 20px;
   .road_line_col_item {
      width: 95% !important;
      margin: auto;
      .road_line_col_item_number {
         width: 97px;
         height: 100px;
         padding: 10px 0 12px;

         .road_line_col_item_number_number {
            font-size: 65px !important;
            line-height: 78px !important;
            text-align: center;
         }
      }
   }
}

.team {
   background: #162344;
   padding: 70px 0 140px;
}
.team_wrapper {
   width: 100%;
   max-width: 1616px;
   margin: 60px auto 160px;
}
.team_item {
   text-align: center;
}
.team_item_title {
   font-family: $font_700;
   font-size: 30px;
   line-height: 36px;
   color: #ffffff;
   margin-top: 15px;
   margin-bottom: 9px;
}
.team_item_text {
   font-family: $font_600;
   font-size: 22px;
   line-height: 26px;
   color: #ffffff;
   opacity: 0.6;
   display: inline-block;
}

.slick-slide {
   img {
      display: inline-block;
   }
}
.slick-dots li button {
   border: 0;
   /* background: transparent; */
   display: block;
   height: 10px;
   width: 10px;
   outline: none;
   line-height: 0px;
   font-size: 0px;
   color: transparent;
   padding: 5px;
   cursor: pointer;
}

.slick-dots li.slick-active button:before {
   color: #ff0000;
   opacity: 0.75;
}

.slick-dots li button:before {
   /* position: absolute; */
   /* top: 0; */
   /* left: 0; */
   content: "•";
   width: 10px;
   height: 10px;
   font-family: "slick";
   font-size: 6px;
   line-height: 20px;
   text-align: center;
   background: #a2a7b4;
   opacity: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-transition: 0.5s;
   transition: 0.5s;
   content: "";
}

.slick-dots li.slick-active button:before {
   color: #ff0000;
   background: #ff0000;
   opacity: 0.75;
   content: "";
}
.slick-dots {
   bottom: -72px;
}

.partners {
   .partners_icons {
      margin-top: 40px;
      margin-bottom: 0 !important;
      .partners_icons_item {
         opacity: 0.7;
         &:hover {
            opacity: 1;
         }
      }
   }
}

.tokenomiks {
   background: #101d3f;
   padding: 70px 0 130px;
}
.tokenomiks_wrapper {
   width: 100%;
   max-width: 1735px;
   margin: 66px auto 0;
   display: flex;
   align-items: center;
}
.tokenomiks_col {
   display: flex;
   flex-direction: column;
   gap: 25px;
}
.tokenomiks_col2 {
   margin: 0 147px 0 148px;
   width: 552px;
}
.tokenomiks_col_item {
   background: rgba(0, 0, 0, 0.3);
   border-radius: 15px;
   padding: 25px 50px 20px 30px;
   transition: 0.5s;
   cursor: pointer;
   * {
      cursor: pointer;
   }
   &:hover {
      transform: scale(1.1);
      background: rgba(26, 49, 107, 0.7);
   }
}
.tokenomiks_col_item_line {
}
.tokenomiks_col_item_title {
   font-family: $font_600;
   font-size: 27px;
   line-height: 32px;
   color: #ffffff;
   margin-top: 10px;
   margin-bottom: 5px;
}
.tokenomiks_col_item_text {
   font-family: $font_400;
   font-size: 20px;
   line-height: 24px;
   color: #ffffff;
   opacity: 0.3;
}
.play_wrapper_col3_item2_subitem_img {
   transition: 0.5s;
   cursor: pointer;
   * {
      cursor: pointer;
   }
   &:hover {
      transform: scale(1.1);
   }
}
.accordion {
   background: #101932;
   padding: 69px 0 75px;
}
.accordion_wrapper {
   width: 100%;
   max-width: 1036px;
   margin: 48px auto 0;
   transition: 0.5s;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

ul.accordion-list {
   position: relative;
   display: block;
   width: 100%;
   height: auto;
   padding: 20px;
   margin: 0;
   list-style: none;

   li {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      background: #384d70;
      border-radius: 15px;
      padding: 17px 25px 18px 30px;
      margin: 0 auto 25px auto;
      cursor: pointer;

      &.active {
         h3 {
            span {
               transform: rotate(-180deg);
            }
         }
      }

      h3 {
         font-family: $font_600;
         font-size: 20px;
         line-height: 24px;
         color: #ffffff;
         position: relative;
         justify-content: space-between;
         align-items: center;
         display: flex;
         width: 100%;
         height: auto;
         padding: 0 0 0 0;
         margin: 0;
         cursor: pointer;
         span {
            transition: 0.5s;
         }

         //  &:after {
         //     content: "";
         //     background: url(../img/Accordion/arrow.png);
         //     width: auto;
         //     height: auto;
         //     position: absolute;
         //     right: 0;
         //     top: 0;
         //     transition: all 0.3s ease-in-out;
         //  }
      }

      div.answer {
         position: relative;
         display: block;
         width: 100%;
         height: auto;
         margin: 20px 0 0 0;
         padding: 0;
         cursor: pointer;

         p {
            position: relative;
            display: block;
            font-family: $font_600;
            font-size: 18px;
            line-height: 24px;
            opacity: 0.5;
            color: #ffffff;
            padding: 10px 0 0 0;
            cursor: pointer;
            margin: 0 0 15px 0;
         }
      }
   }
}

.footer {
   padding: 70px 0 0;
   background: url(../img/Footer/bg.png);
   .section_title {
      max-width: 530px;
      margin: auto;
   }
}
.footer_wrapper {
   width: 100%;
   max-width: 848px;
   margin: 50px auto 176px;
   text-align: center;
}
.footer_icons {
   display: flex;
   gap: 30px;
}
.footer_icons_item {
   background: #e11d2e;
   border-radius: 15px;
   width: 60px;
   height: 60px;
   transition: all 0.5s ease;
   overflow: hidden;
   cursor: pointer;
   &:hover {
      transform: scale(1.2);
   }
   * {
      cursor: pointer;
   }
}
.footer_icons_item1 {
   padding: 30px 25px;

   &:hover {
      .img_bg1 {
         path {
            fill: #29a9eb;
         }
      }
   }
}
.footer_icons_item2 {
   padding: 30px 25px 30px 24px;

   &:hover {
      .img_bg2 {
         path {
            fill: #40abe2;
         }
      }
   }
}
.footer_icons_item3 {
   padding: 30px;

   &:hover {
      .img_bg3 {
         path {
            fill: #000;
         }
      }
   }
}
.footer_icons_item4 {
   padding: 30px;

   &:hover {
      .img_bg4 {
         path {
            fill: #375591;
         }
      }
   }
}
.footer_icons_item5 {
   padding: 30px;

   &:hover {
      .img_bg5 {
         path {
            fill: gold;
         }
      }
   }
}
.footer_icons_item6 {
   padding: 30px;

   &:hover {
      .img_bg6 {
         path {
            fill: url(#instagrad);
         }
      }
   }
}
.img_bg {
   svg,
   path {
      transition: all 0.5s ease;
   }
}
.img_bg1 {
   width: 35px;
   height: 30px;
}
.img_bg2 {
   width: 35px;
   height: 30px;
}
.img_bg3 {
   width: 35px;
   height: 30px;
}
.img_bg4 {
   width: 35px;
   height: 30px;
}
.img_bg5 {
   width: 35px;
   height: 30px;
}
.img_bg6 {
   width: 35px;
   height: 30px;
}

@media (max-width: 991.98px) {
   .desktop_svg {
      display: none;
   }
}
@media (min-width: 992px) {
   .mobile_svg {
      display: none;
   }
}
.footer_cat {
   margin-top: 80px;
   margin-bottom: 50px;
   transition: 0.5s;
   &:hover {
      transform: scale(1.2);
   }
}
.footer_hach_code {
   background: rgba(0, 0, 0, 0.3);
   border-radius: 50px;
   padding: 23px 56px 22px;
   width: 100%;
   max-width: 699px;
   margin: auto;
   text-align: left;
   transition: 0.5s;
   border: 1px solid rgba(255, 255, 255, 0);
   cursor: pointer;

   * {
      cursor: pointer;
   }
   &:hover {
      border: 1px solid rgba(255, 255, 255, 0.5);
      transform: scaleX(1.05);
   }
}
.footer_hach_code_title {
   font-family: $font_500;
   font-size: 15px;
   line-height: 18px;
   color: rgba(255, 255, 255, 0.4);
   margin-bottom: 5px;
}
.footer_hach_code_text {
   font-family: $font_400;
   font-size: 25px;
   line-height: 30px;
   color: rgba(255, 255, 255, 0.8);
}
.footer_info {
   background: #0d1428;
   padding: 40px 16px;
   width: 100%;
   text-align: center;
}
.footer_info_text {
   font-family: $font_400;
   font-size: 20px;
   line-height: 24px;
   color: #ffffff;
   opacity: 0.4;
}
